* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 200px;
}
input {
  margin: 5px;
  width: 100%;
}
button {
  margin: 5px;
  width: 100%;
}
